.phone-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.country-code {
  height: 100%;
  border: none;
  background-color: #f0f0f0;
  padding: 0 10px;
  font-size: 16px;

}

.phone-input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.phone-input:focus {
  outline: none;
}

.country-code:focus {
  outline: none;
}
.phoneInput{
  padding: 10px;
  width: 300px;
  border-radius: 0 8px 8px 0;
  border: none;
  box-shadow: 7px 6px 7px -6px gray;
}

.countryCode{
  padding: 10px;
  border: none;
  box-shadow: 7px 6px 7px -6px gray;
}