* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

:root {
  --primary-color: #2aa8ff;
  --backgrondclr: #ebf3fe
}